* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.brand-logo {
    width: 7%;
}

.slide-one {
    background: url(../img/slide_one.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-two {
    background: url(../img/slide_two.png), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-three {
    background: url(../img/slide_three.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-four {
    background: url(../img/slide_four.png), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-img-one {
    background: url(../img/sliding_one.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-img-two {
    background: url(../img/sliding_two.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-img-three {
    background: url(../img/sliding_three.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}

.slide-img-four {
    background: url(../img/sliding_four.jpg), no-repeat;
    background-position: center;
    background-size: cover;
}



 